/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITY */
:root {
    --title-color: #e52f6f;
    --mail-color: #50b2e9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* BODY */
body {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

h1 {
    padding: 30px 0px;
    font-weight: 700;
    color: var(--title-color)
}
